# This is for re-writting "git://github.com" URLs but since the git protocol
# won't work for *any* outside site we might as well re-write any git:// URL
# and hope the the site supports it
#[url "http://github.com"]
#	insteadOf = git://github.com
#[url "http://github.com/"]
#	insteadOf = git://git@github.com:
#[url "http://github.com/"]
#	insteadOf = git@github.com:
# [url "http://git.dcmtk.org"]
# 	insteadOf = "git://git.dcmtk.org"
# [url "http://"]
# 	insteadOf = "git://"

# Workaround for bug when using SSL and HTTP proxy (LP #940431)
#[url "http://"]
#	insteadOf = https://

[web]
	browser = google-chrome
[user]
	name = JP Whidden
	email = john.p.whidden@ge.com
[gui]
	historybrowser = gitk
	editor = vim
[alias]
    dd = difftool -d
        st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
        lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
        dt = difftool -y
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	head = rev-parse HEAD
	show-graphical = !sh -c 'git difftool -d $1^..$1' -
	intercommit = !sh -c 'interdiff <(git show $1) <(git show $2) | less -FRS' -
[core]
	excludesfile = ~/.dotfiles/conf/.gitignore_global
	editor = vim
[color]
	branch = auto
	diff = auto
	showbranch = auto
[pull]
	rebase = true
[rebase]
	autosquash = true
	stat = true
[http]
[interactive]
	singlekey = true
[push]
	default = tracking
[rerere]
	enabled = true

[merge]
	tool = meld
[diff]
	tool = meld
[sendemail]
	thread = false
[credential]
	helper = gnome-keyring
	helper = cache --timeout=43200
[credential "https://github.sw.ge.com"]
	username = 212049889
[credential "https://github.com"]
	username = jpwhidden
[hub]
	host = github.sw.ge.com
[cola]
	textwidth = 78
